@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.contacts__shops-text h3, .contacts__subs-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.contacts__button, .sale__button {
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

a {
  color: black;
}

.wrapper {
  width: 1920px;
  min-width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-line {
  /*position: absolute;
  width: 1920px;*/
  height: 50px;
  background: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line__menu {
  width: 447px;
  height: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-line__link {
  margin: 0 10px;
  color: black;
}

.second-line {
  position: relative;
  height: 169px;
  margin: 20px 0 30px 0;
  text-align: center;
}
.second-line__logo {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 20px 0 0 405px;
}
.second-line__text {
  position: absolute;
  width: 158px;
  height: 39px;
  margin: 41px 0 0 505px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66C05D;
}
.second-line__phone-number {
  position: absolute;
  width: 127px;
  height: 19px;
  right: 615px;
  top: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.second-line__button {
  position: absolute;
  width: 170px;
  height: 40px;
  right: 405px;
  top: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
}
.second-line__button-text {
  position: absolute;
  width: 117px;
  height: 15px;
  right: 26px;
  top: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #FFFFFF;
}
.second-line__line {
  position: absolute;
  width: 100%;
  top: 120px;
  border: 1px solid #EFEFEF;
}
.second-line__menu {
  margin: 150px 0;
  width: 35.15625%;
  height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-line__link {
  font-size: 16px;
  line-height: 19px;
}

.sale {
  position: relative;
  background: #66C05D;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 604px;
          flex: 0 1 604px;
  color: #FFFFFF;
}
.sale__group {
  margin: 192px 0 0 21.09375%;
  height: 219px;
  width: 16.0416666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale h2 {
  width: 308px;
  height: 44px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.sale p {
  width: 308px;
  height: 35px;
  line-height: 20px;
}
.sale__button {
  width: 170px;
  height: 40px;
}
.sale__bg-img {
  position: absolute;
  width: 859px;
  height: 859px;
  left: 37.7604166667%;
  top: -117px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.sale__img {
  position: absolute;
  width: 677px;
  height: 677px;
  left: 91px;
  top: 91px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
.sale__img img {
  width: 584px;
  height: 584px;
  margin: 47px;
}

.main {
  position: relative;
  width: 100%;
  height: 954px;
  background: #EFEFEF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 1;
  text-align: center;
}

.goods {
  position: absolute;
  width: 1110px;
  height: 430px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 80px;
}
.goods h3 {
  position: absolute;
  width: 320px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.goods__specials {
  position: absolute;
  top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.goods__special {
  width: 255px;
  height: 363px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}
.goods__description {
  width: 76.4705882353%;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.goods__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}
.goods__button {
  width: 130px;
  height: 35px;
  background: #66C05D;
  border-radius: 30px;
}

.contacts {
  position: relative;
  width: 1110px;
  top: 610px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  text-align: left;
}
.contacts > div {
  position: relative;
  width: 540px;
  height: 212px;
  background: #66C05D;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contacts__subscribe {
  position: relative;
  margin: 0 15px;
}
.contacts_our-shops {
  margin: 0 15px;
}
.contacts__subs-text {
  position: absolute;
  width: 48.1481481481%;
  margin: 7.4074074074% 0 0 6.4814814815%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__subs-text h3 {
  margin-top: 15px;
}
.contacts__subs-text p {
  line-height: 20px;
  width: 92.4%;
  margin-top: 15px;
}
.contacts__input {
  width: 90%;
  height: 35px;
  border-radius: 30px;
  margin-top: 15px;
  padding-left: 25px;
  color: #C4C4C4;
}
.contacts__subs-logo {
  position: absolute;
  top: 25%;
  left: 65.7407407407%;
}
.contacts__shops-text {
  position: absolute;
  width: 31.4814814815%;
  margin: 7.4074074074% 0 0 6.4814814815%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__shops-text h3 {
  margin-top: 15px;
}
.contacts__shops-text p {
  line-height: 20px;
  width: 92.4%;
  margin-top: 15px;
}
.contacts__button {
  width: 100%;
  height: 35px;
  margin-top: 15px;
}
.contacts__shops-logo {
  position: absolute;
  top: 35.3773584906%;
  left: 53.7037037037%;
}

.footer {
  height: 184px;
  width: 100%;
  text-align: center;
}
.footer__contacts {
  height: 65.2173913043%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__line {
  width: 57.8125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18.018018018%;
  margin: 0 30px;
}
.footer__links div {
  width: 22%;
  height: 45px;
  border: 2px solid #66C05D;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__address {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 16px;
}
.footer__phone {
  font-size: 16px;
  line-height: 19px;
  margin: 0 30px;
}
.footer__button {
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
}
.footer__info {
  height: 34.7826086957%;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  background: #EFEFEF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}