@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
a {
  color: black;
}

.wrapper {
  /*position: relative;
  width: 1920px;
  height: 1992px;*/
  min-width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-line {
  /*position: absolute;
  width: 1920px;
  height: 50px;*/
  background: #EFEFEF;
}
.top-line__menu {
  margin: 17px 0 17px 33.8541666667%;
  width: 447px;
  height: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-line__link {
  margin: 0 10px;
  color: black;
}

.second-line {
  position: relative;
  height: 169px;
  top: 20px;
}
.second-line__logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 4px double black;
  margin: 20px 0 0 250px;
}
.second-line__text {
  position: absolute;
  width: 158px;
  height: 39px;
  left: 350px;
  top: 41px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66C05D;
}
.second-line__phone-number {
  position: absolute;
  width: 127px;
  height: 19px;
  right: 350px;
  top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.second-line__button {
  position: absolute;
  width: 170px;
  height: 40px;
  right: 170px;
  top: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
}
.second-line__button-text {
  position: absolute;
  width: 117px;
  height: 15px;
  right: 26px;
  top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #FFFFFF;
}
.second-line__line {
  position: absolute;
  width: 1920px;
  top: 120px;
  border: 1px solid #EFEFEF;
}
.second-line__menu {
  margin: 135px 0 0 26.0416666667%;
  width: 675px;
  height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-line__link {
  height: 19px;
}